.fullpage-container {
  height: 100vh;
}

.main-navbar {
  border-bottom: 1px solid #0abfbc;
}

.landing {
  position: relative;
  color: white;
  background: url('https://res.cloudinary.com/dvwhiycvr/image/upload/v1557178427/socialuser.jpg')
    no-repeat center center/cover;
  height: 100vh;
}

/* Chat Room */
.chat-room {
  width: 100vw;
  height: 100vh;
  padding-top: 56px;
}

.messages-list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
  padding-top: 0;
  height: 97%;
  overflow: scroll;
}

.chat-container {
  border-left: 1px solid #0abfbc;
  border-right: 1px solid #0abfbc;
}

.chat-message-container .chat-profile-image {
  margin-top: 2em;
}

.chat-message-container .chat-message-text {
  font-size: 1.5em;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.text-brightred {
  color: #fc354c;
}

.bg-brightred {
  background-color: #fc354c;
}

.btn-brightred {
  color: white;
  background-color: #fc354c;
  border-color: #fc354c;
}

.text-teal {
  color: #0abfbc;
}

.bg-teal {
  background-color: #0abfbc;
}

.text-darkteal {
  color: #13747d;
}

.bg-darkteal {
  background-color: #13747d;
}

.text-burstingblue {
  color: #028f76;
}

.bg-burstingblue {
  background-color: #028f76;
}

.text-darkgrey {
  color: #2a363b;
}

.bg-darkgrey {
  background-color: #2a363b;
}
